{% extends "base_template.html" %}

{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="static/css/madrid.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block page_title %}
About London!
{% endblock %}

{% block tab_title %}
About London!
{% endblock %}

{% block content %}
<div class="common_content_container cool_box flex_column">
    <h3>London, the capital of Great Britain</h3>
    <img id='main_img' src="/static/img/london.jpg">
    <p>
        London, the bustling metropolis nestled along the banks of the River Thames, is a city steeped in history, culture, and diversity. As the capital of the United Kingdom, London is a vibrant tapestry of ancient landmarks, modern skyscrapers, and eclectic neighborhoods.
    </p>
    <p>
        At the heart of London stands the iconic Big Ben, a symbol of the city's resilience and endurance through the ages. Nearby, the majestic Tower of London stands guard over the city, its storied walls echoing with tales of kings, queens, and intrigue.
    </p>
    <p>
        One cannot visit London without exploring its world-renowned museums and galleries. From the British Museum, with its vast collection of artifacts spanning millennia, to the Tate Modern, showcasing cutting-edge contemporary art, London is a paradise for art and history enthusiasts alike.
    </p>
    <p>
        The city's diverse neighborhoods offer a kaleidoscope of experiences, from the colorful markets of Camden Town to the upscale boutiques of Knightsbridge. In Soho, the streets come alive with the sounds of laughter and music as visitors flock to its lively bars, restaurants, and theaters.
    </p>
    <p>
        London's culinary scene is as diverse as its population, with cuisines from every corner of the globe waiting to be savored. Whether indulging in traditional fish and chips at a local pub or sampling Michelin-starred fare at a fine dining establishment, there's no shortage of culinary delights to discover.
    </p>
    <p>
        As night falls, London transforms into a dazzling playground for nightlife enthusiasts. From chic rooftop bars offering panoramic views of the city skyline to underground clubs pulsating with the latest beats, there's no shortage of excitement to be found after dark.
    </p>
    <p>
        But perhaps the most captivating aspect of London is its people – a melting pot of cultures, languages, and backgrounds coming together to create a truly unique tapestry of humanity. Whether sipping tea in a quaint café or cheering on their favorite football team at Wembley Stadium, Londoners exude a sense of warmth and hospitality that makes visitors feel right at home.
    </p>
    <p>
        In London, every street corner holds a new adventure, and every moment is infused with the energy of this dynamic city. It's a place where the past meets the present, and where dreams are born amidst the hustle and bustle of everyday life.
    </p>
    <p>
        London truly is a city like no other, where the possibilities are endless and the memories last a lifetime.
    </p>
    <iframe id='main_vid' width="560" height="315" src="https://www.youtube.com/embed/NYY2ELEH0AA?si=3uKBZAwGLENJ6r08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

{% endblock %}