{% extends "base_template.html" %}

{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="static/css/madrid.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block page_title %}
About Madrid!
{% endblock %}

{% block tab_title %}
About Madrid!
{% endblock %}

{% block content %}
<div class="common_content_container cool_box flex_column">
    <h3>Madrid, the capital of Spain</h3>
    <img id='main_img' src="/static/img/visiter-madrid.webp">
    <p>
        Madrid, the vibrant capital of Spain, is a city that pulsates with energy and history. Nestled in the heart of the Iberian Peninsula, Madrid is renowned for its rich cultural heritage, magnificent architecture, and passionate inhabitants.
    </p>
    <p>
        One of the city's most iconic landmarks is the Royal Palace, a grandiose structure that showcases the opulence of Spain's royal past. Nearby, the Plaza Mayor serves as a bustling hub of activity, where locals and tourists alike gather to enjoy street performances, indulge in traditional cuisine, and soak in the lively atmosphere.
    </p>
    <p>
        Art enthusiasts flock to Madrid to explore the world-class museums, including the Prado Museum, home to an extensive collection of European masterpieces, and the Reina Sofia Museum, which houses works by renowned Spanish artists such as Picasso and Dalí.
    </p>
    <p>
        For those seeking a taste of authentic Spanish culture, Madrid's vibrant neighborhoods offer a wealth of experiences. From the trendy boutiques and hip cafes of Malasaña to the historic charm of La Latina's narrow cobblestone streets, each district has its own unique character and charm.
    </p>
    <p>
        In the evenings, Madrid truly comes alive as the city's nightlife scene springs into action. From intimate tapas bars serving up mouthwatering delicacies to pulsating nightclubs where the party continues until the early hours, there's something for everyone to enjoy.
    </p>
    <p>
        But perhaps the true essence of Madrid lies in its people – warm, passionate, and fiercely proud of their city. Whether strolling through the lush greenery of Retiro Park or cheering on their beloved football teams at the Santiago Bernabéu Stadium, Madrileños exude a zest for life that is infectious to all who visit.
    </p>
    <p>
        In Madrid, every corner tells a story, and every moment is infused with the spirit of this captivating city. It's a place where tradition and modernity blend seamlessly, creating an unforgettable tapestry of experiences for all who wander its streets.
    </p>
    <iframe id='main_vid' width="560" height="315" src="https://www.youtube.com/embed/X_4UcZ2t-lw?si=oMGqWldjeP8S-XdH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

{% endblock %}